
<div class="container">
  <div class="row">
    <% if current_user.profile_picture.attached? %>
      <%= cl_image_tag current_user.profile_picture.key, height: 150, width: 200, crop: :fill %>
    <% elsif @facebook_photo %>
      <%= image_tag @facebook_photo, alt: "Picture of #{@user.first_name}", width: 200 %>
    <% else %>
    <%= "coucou" %>
    <% end %>
  </div>
  <div class="row">
    <%= "Welcome #{@user.first_name}" %>
  </div>
</div>

<div class="container">
  <%= link_to "Create a new event", new_event_path %>
</div>




