
<div class="container">
  <div class="row">
    <% if current_user.profile_picture.attached? %>
      <%= cl_image_tag current_user.profile_picture.key, height: 150, width: 200, crop: :fill %>
    <% elsif @facebook_photo %>
      <%= image_tag @facebook_photo, alt: "Picture of #{@user.first_name}", width: 200 %>
    <% else %>
    <%= "coucou" %>
    <% end %>
  </div>
  <div class="row">
    <%= "Welcome #{@user.first_name}" %>
  </div>
</div>

<div class="container">

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Create a new event
  </button>

</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Create a new event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for(@event) do |f| %>
        <div class="modal-body">
            <%= f.input :name %>
            <%= f.input :date %>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-success"> <%= f.submit %></button>
        </div>
      <% end %>
    </div>
  </div>
</div>
