
<div class="container">

  <% @results_restaurants.each do |result|%>
    <p> <%= result.name %> </p>
    <p> <%= result.price_level%></p>
    <p> <%= result.rating%></p>
    <p> <%= result.address%></p>
    <% if result.photo_url %>
      <%= image_tag result.photo_url , alt: "alttext" %>
    <% end %>
  <% end %>

</div>


<h2> Directions </h2>

