<div class="container">

  <% @results_restaurants.each do |result|%>
    <p> <%= result.name %> </p>
    <p> <%= result.price_level%></p>
    <p> <%= result.rating%></p>
    <p> <%= result.address%></p>
    <% if result.photo.attached? %>
      <%= cl_image_tag result.photo.key , alt: "alttext" %>
    <% end %>

  <% end %>

</div>

<%= form_tag restaurants_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a restaurant"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div class="container">
<h2> Directions </h2>

<ul>
<% @directions.each do |direction| %>
  <li>Name: <%= direction.first.user.first_name %></li>
  <li>Time to meeting point: <%= direction.last[:transit_duration] %></li>
  <li>Distance to meeting point: <%= direction.last[:transit_distance] %></li>
<% end %>
  <li>Meeting Point: <%= @geographic_center %></li>
</ul>

</div>

<div>
  <div id="map" data-markers="<%= @markers.to_json %>"></div>
</div>
