<%= render 'shared/navbar' %>

<div class="map-div">
  <div id="map" data-markers="<%= @markers.to_json %>" style="width: 100%;
    height: 80vh;"></div>
</div>

<div class="meeting-point" id="meetpoint"><p>📍 <%= @geographic_center %></p></div>


<div class="fixed-filter">
  <div class="btn-middle">
    <button type="button" class="btn-filter" data-toggle="modal" data-target="#exampleModalCenter">
      <i class="fas fa-filter"></i>
    </button>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @results_restaurants.each do |result|%>
      <%= link_to restaurant_path(result, event: params[:event]) do %>

      <% if result.photo.attached? %>
        <div class="card-trip mx-3">
          <div style="position: relative">
              <%= cl_image_tag result.photo.key , alt: "photo restaurant", crop: :fill %>
             <a href="javascript: void(0)"><i class="fas fa-check-circle restaurant-select" data-selected-restaurant="<%= result.id %>" data-selected-event="<%= @event.id %>" style="position: absolute;"></i></a>
          </div>
          <div class="card-trip-infos">
            <div>
              <p> <%= result.name %> </p>
              <% if result.rating %>
                <p>
                  <% result.rating.times do%>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% (5 - result.rating).times do %>
                    <i class="fas fa-star" id="level-missing"></i>
                  <% end %>
                </p>
              <% end %>
              <p> <%= result.short_address %></p>
            </div>
            <h2 class="card-trip-pricing"><%= ("€"*result.price_level.to_i) %></h2>
          </div>
        </div>
      <% end %>
      <% end %>
    <% end %>
  </div>
<div>
    <%= link_to "Back to Friends List", new_event_participant_path(@event), class: "btn btn-lesconvives", id:"loader"%>
</div>
</div>


<!-- Modal filtre -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <%= form_tag restaurants_path, method: :get do %>
            <% food_category = Restaurant::CATEGORY %>
            <fieldset class="form-group radio_buttons restaurants_food_category">
              <legend class="col-form-label pt-0">Food Category</legend>
              <button type="button" class="close" id="btn-close-position" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <input type="hidden" name="[food_category]" value="">
              <div class="wrapper">
                <% food_category.each do |input| %>
                  <div class="form-check">
                    <input class="form-check-input radio_buttons" type="radio" value="<%= input %>" name="[food_category]" id="_restaurants_food_category_<%= input %>">
                    <label class=" radio-buttons-food form-check-label collection_radio_buttons" for="_restaurants_food_category_<%= input %>"><%= input %></label>
                  </div>
                <% end %>
              </div>
            </fieldset>
            <fieldset class="form-group radio_buttons restaurants_rating">
              <legend class="col-form-label pt-0">Restaurant Rating</legend>
              <input type="hidden" name="[rating]" value="">
              <div class="rating-form">
                <% Restaurant::RATINGS.each do |input| %>
                  <div class="form-check">
                    <input class="form-check-input radio_buttons" type="radio" value="<%= input %>" name="[rating]" id="_restaurants_rating_<%= input %>">
                    <label class="form-check-label collection_radio_buttons" for="_restaurants_rating_<%= input %>"><i class="fas fa-star"></i>
                    </label>
                  </div>
                <% end %>
              </div>
            </fieldset>
            <fieldset class="form-group radio_buttons restaurants_price_level">
            <legend class="col-form-label pt-0">Price Range</legend>
            <input type="hidden" name="[price_level]" value="">
              <div class="price-form">
                <% Restaurant::PRICE_LEVEL.each do |input| %>
                  <div class="form-check">
                    <input class="form-check-input radio_buttons" type="radio" value="<%= input %>" name="[price_level]" id="_restaurants_price_level_<%= input %>">
                    <label class="form-check-label collection_radio_buttons" for="_restaurants_price_level_<%= input %>"><i class="fas fa-euro-sign"></i></label>
                  </div>
                <% end %>
              </div>
            </fieldset>
            <%= hidden_field_tag :event, @event.id %>
            <%= submit_tag 'Apply filters', class: "btn-lesconvives"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



