<div>
  <%= link_to restaurants_path(event: params[:event]) do%>
	  <i class="fas fa-chevron-left"></i>
	<% end %>
</div>

<div class="img-background" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @restaurant.photo.key , alt: "photo restaurant" %>)"></div>

<!-- card description -->
  <ul class="list-group">
    <li class="list-group-item" id="title-resto">
      <%= @restaurant.name %>
      <div>
        <a href="javascript: void(0)"><i class="fas fa-check-circle restaurant-select" data-selected-restaurant="<%= @restaurant.id %>" data-selected-event="<%= @event.id %>" style="position: absolute;"></i></a>
      </div>
    </li>
    <li class="list-group-item">
      <i class="fas fa-map-marker-alt"></i>
      <%= @restaurant.short_address %>
    </li>
    <% if @restaurant.url %>
      <li class="list-group-item" class="restaurant-url">
        <i class="fas fa-globe"></i>
        <%= link_to @restaurant.url, "#{@restaurant.url}", :target =>"_blank" %>
      </li>
    <% end %>
    <% if @restaurant.opening_hours %>
      <li class="list-group-item">
        <p class="hourglass"><i class="fas fa-hourglass-start"></i> Opening Hours </p>
        <% array = JSON.parse(@restaurant.opening_hours) %>
        <% array.each do |hour| %>
          <p class="hours"><%= hour %></p>
        <% end %>
      </li>
    <% end %>

    <% if @restaurant.rating %>
      <li class="list-group-item">
        <% @restaurant.rating.times do%>
          <i class="fas fa-star"></i>
        <% end %>
        <% (5 - @restaurant.rating).times do %>
          <i class="fas fa-star" id="level-missing"></i>
        <% end %>
      </li>
    <% end %>

    <% if @restaurant.price_level %>
      <li class="list-group-item">
        <% @restaurant.price_level.to_i.times do %>
          <i class="fas fa-euro-sign"></i>
        <% end %>
        <% (5 - @restaurant.price_level.to_i).times do %>
          <i class="fas fa-euro-sign" id="level-missing"></i>
        <% end %>
      </li>
    <% end %>
    <% if @restaurant.food_category %>
      <li class="list-group-item">
      <i class="fas fa-utensils"></i> <%= @restaurant.food_category %></li>
    <% end %>
  </ul>

<div style="margin-top: 15px; display:flex; justify-content: center; text-align: center;">
    <%= link_to @restaurant.phone ? "tel:#{@restaurant.phone}" : @restaurant.url, class: "btn-lesconvives cta-call", target: "_blank" do %>
      Make a Reservation  <i class="fas <%= @restaurant.phone ? "fa-phone" : "fa-globe" %>"></i>
    <% end %>
</div>

