<div class="container">
    <%= simple_form_for @new_address, url: create_from_coordinates_user_addresses_path(@user), html: { method: :post, id: "geolocation-form" } do |f| %>
    <%= f.input :latitude, as: :hidden %>
    <%= f.input :longitude, as: :hidden %>
      <%= f.submit class: "btn btn-secondary", id: "my-position" %>
        <p> Get my current location <i class="fas fa-location-arrow" ></i> </p>
    <% end %>

</div>


<% @addresses.each do |address| %>

  <div class="container p-3">
    <%= simple_form_for address, url: user_address_path(@user, address.id), html: { method: :patch } do |f| %>
      <%= f.input :full_address %>
      <%= f.input  :name, collection: ["Home", "Work", "Other"] %>
      <%= f.input :active, as: :boolean, checked_value: true, unchecked_value: false, label: "Choose as default address" %>
      <%= f.submit class: "btn-lesconvives" %>
    <% end %>
  </div>
<% end %>
