<!DOCTYPE html>
<html>
  <head>
    <title>Les Convives</title>
    <link rel="shortcut icon" type="image/png" href="<%= asset_url('teammate.png') %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_MAPS_TOKEN']}" %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>

  <body>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
